<form action="/cart" method="POST">
    <input type="hidden" name="productId" value="<%= item.id %>">
    <input type="hidden" name="productPrice" value="<%= item.price %>">
    <button type="submit">Add to cart</button>
</form>