<header>
    <nav>
        <ul>
            

            <li>
                <a href="/">Shop</a>
            </li>
            
            <li>
                <a href="/products"> ProductList</a>
            </li>

            <li>
                <a href="/cart">Cart</a>
            </li>
            
            <li>
                <a href="/admin/add-product">Add-product</a>               
            </li>
            
            <li>
                <a href="/admin/products">Admin products</a>               
            </li>
        </ul>
    </nav>
</header>